# Windows

# Search first 10 partitions for Windows setups
for pnum in 0 1 2 3 4 5 6 7 8 9; do
  if [ -e "(hd${hdnum},gpt${pnum})${winboot}" ]; then
    echo "Windows menu: GPT [${grub_platform}]/[(hd${hdnum},gpt${pnum})${winboot}]"
    probe --set isolabel --label (hd${hdnum},gpt${pnum})
    menuentry "Windows Setup/PE from Partition (hd${hdnum},gpt${pnum}):[${isolabel}]" "(hd${hdnum},gpt${pnum})" "${winboot}" "${winboot_efi}" --class windows {
      set root="${2}"
      if [ "${grub_platform}" = "efi" ]; then
        insmod chain
        chainloader "${4}"
      elif [ "${grub_platform}" = "pc" ]; then
        insmod ntldr
        ntldr "${3}"
      fi
    }
  elif [ -e "(hd${hdnum},msdos${pnum})${winboot}" ]; then
    echo "Windows menu: MSDOS [${grub_platform}]/[(hd${hdnum},msdos${pnum})${winboot}]"
    probe --set isolabel --label (hd${hdnum},msdos${pnum})
    menuentry "Windows Setup/PE from Partition (hd${hdnum},msdos${pnum}):[${isolabel}]" "(hd${hdnum},msdos${pnum})" "${winboot}" "${winboot_efi}" --class windows {
      set root="${2}"
      if [ "${grub_platform}" = "efi" ]; then
        insmod chain
        chainloader "${4}"
      elif [ "${grub_platform}" = "pc" ]; then
        insmod ntldr
        ntldr "${3}"
      fi
    }
  fi
done
