# Mint
function add_menu_mint {
  isofile="$1"
  opt="$2"

  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:variant \
    --set 4:arch \
    "^${isopath}/(linuxmint-([^-]+)-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Linux Mint ${version} ${arch} ${variant} ${opt}" "${isofile}" "${isoname}" "${opt}" --class linuxmint {
    set isofile=$2
    set isoname=$3
    set linuxopt=$4
    use "ISO: ${isoname}, Option:${linuxopt}"
    loop $isofile
    linux (loop)/casper/vmlinuz file=/cdrom/preseed/linuxmint.seed boot=casper iso-scan/filename=${isofile} quiet splash ${linuxopt}
    initrd (loop)/casper/initrd.lz
  }
}
for_each_sorted add_menu_mint "$isopath"/linuxmint-*.iso

# Debian Edition
function add_menu_lmde {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:variant \
    --set 4:arch \
    "^${isopath}/(lmde-([^-]+)-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Linux Mint Debian Edition (LMDE) ${version} ${arch} ${variant}" "${isofile}" "${isoname}" --class linuxmint {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/live/vmlinuz boot=live findiso=${isofile} live-config live-media-path=/live quiet splash --
    initrd (loop)/live/initrd.lz
  }
}

for_each_sorted add_menu_lmde "$isopath"/lmde-*.iso
