# LibreELEC
# vga=current results in grub-core "unrecognized number" error
menuentry "LibreELEC Live" --class libreelec {
  linux /KERNEL boot=UUID=${rootuuid} grub_live quiet
}

menuentry "LibreELEC Installer" --class libreelec {
  linux /KERNEL boot=UUID=${rootuuid} installer quiet systemd.debug_shell
}

if [ "${glim_debug}" = 1 ]; then
  # Pause before returning to menu
  echo "Showing menu in (ESC to show now):"
  sleep --verbose --interruptible 5
fi
