# Fedora
function add_menu {
  isofile="$1"

  regexp \
    --set 1:purpose \
    "^${isopath}/(Fedora-.+-(Live|netinst)-.+\.iso)\$" "${isofile}"

  if [ "${purpose}" == 'netinst' ]; then
    # Fedora-Everything-netinst-x86_64-42-1.1.iso
    regexp \
        --set 1:isoname \
        --set 2:variant \
        --set 3:purpose \
        --set 4:arch \
        --set 5:release \
        --set 6:version \
        "^${isopath}/(Fedora-([^-]+)-(Live|netinst)-([^-]+)-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  else
    # Fedora-KDE-Desktop-Live-43_Beta-1.3.x86_64.iso Fedora-KDE-Desktop-Live-43-20250925.n.0.x86_64.iso
    regexp \
        --set 1:isoname \
        --set 2:variant \
        --set 3:purpose \
        --set 4:release \
        --set 5:version \
        --set 6:arch \
        "^${isopath}/(Fedora-(.+)-(Live|netinst)-([0-9]{2})[-_]([^-]+)\.[^\.]+\.iso)\$" "${isofile}"
  fi

  menuentry "Fedora ${variant} ${purpose} ${release}-${version} ${arch}" "${isofile}" "${isoname}" "${purpose}" "${arch}" --class fedora {
    set isofile=$2
    set isoname=$3
    set purpose=$4
    set arch=$5
    use "${isoname}"
    loop $isofile
    probe --set isolabel --label (loop)
    if [ "${purpose}" == 'netinst' ]; then
      linux (loop)/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=${isolabel} iso-scan/filename=${isofile}
      initrd (loop)/images/pxeboot/initrd.img
    else
      linux (loop)/boot/${arch}/loader/linux quiet rhgb root=live:CDLABEL=${isolabel} rd.live.image iso-scan/filename=${isofile}
      initrd (loop)/boot/${arch}/loader/initrd
    fi
  }
  menuentry "Fedora ${variant} ${purpose} ${release}-${version} ${arch} (Troubleshooting)" "${isofile}" "${isoname}" "${purpose}" "${arch}" --class fedora {
    set isofile=$2
    set isoname=$3
    set purpose=$4
    set arch=$5
    use "${isoname}"
    loop $isofile
    probe --set isolabel --label (loop)
    if [ "${purpose}" == 'netinst' ]; then
      linux (loop)/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=${isolabel} iso-scan/filename=${isofile}
      initrd (loop)/images/pxeboot/initrd.img
    else
      linux (loop)/boot/${arch}/loader/linux nomodeset rhgb root=live:CDLABEL=${isolabel} rd.live.image iso-scan/filename=${isofile}
      initrd (loop)/boot/${arch}/loader/initrd
    fi
  }
}

for_each_sorted add_menu "$isopath"/Fedora-*.iso
