# Windows

# Search first 10 partitions for Windows setups
for pnum in 0 1 2 3 4 5 6 7 8 9; do
  if [ -f "(hd${hdnum},${part_table}${pnum})${winboot}" ]; then
    if [ "${grub_platform}" = "efi" ]; then
      if [ -f "(hd${hdnum},${part_table}${pnum})${winboot_alt}" ]; then
        set winboot_file="${winboot_alt}"
      fi
    elif [ "${grub_platform}" = "pc" ]; then
      set winboot_file="${winboot}"
    fi
  elif [ "${grub_platform}" = "pc" -a -f "(hd${hdnum},${part_table}${pnum})${winboot_alt}" ]; then
      set winboot_file="${winboot_alt}"
  fi

  if [ -n "${winboot_file}" ]; then
    probe --set isolabel --label (hd${hdnum},${part_table}${pnum})
    menuentry "Windows Setup/PE from Partition (hd${hdnum},${part_table}${pnum}):[${isolabel}]" "(hd${hdnum},${part_table}${pnum})" "${winboot_file}" --class windows {
      set root="${2}"
      if [ "${grub_platform}" = "efi" ]; then
        insmod chain
        chainloader "${3}"
      elif [ "${grub_platform}" = "pc" ]; then
        insmod ntldr
        ntldr "${3}"
      fi
    }
  fi

  unset winboot_file
done

if [ "${glim_debug}" = 1 ]; then
  # Pause before returning to menu
  echo "Showing menu in (ESC to show now):"
  sleep --verbose --interruptible 5
fi
